  <!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trở về trang chủ" href="trang-chu.html">Trang chủ</a><span>&raquo;</span></li>
                    <li><strong>404 Error </strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!--Container -->
<div class="error-page">
    <div class="container">
        <div class="error_pagenotfound">
            <strong>4<span id="animate-arrow">0</span>4 </strong> <br />
            <b>Oops... Đường dẫn không tồn tại!</b> <em>Xin lỗi chúng tôi không thể tìm thấy đường dẫn mà bạn truy cập.</em>
            <p>Bạn trở lại trang chủ bằng button bên dưới nhé!</p>
            <br />
            <a href="trang-chu.html" class="button-back"><i class="icon-arrow-left-circle icons"></i>&nbsp; Go to Back</a>
        </div>
        <!-- end error page notfound -->

    </div>
</div>
<!-- Container End -->

@await Component.InvokeAsync("Service")