<div class="container">
    <div class="row">
        <div class="daily-deal-section">
            <!-- daily deal section-->
            <div class="col-md-7 daily-deal">
                <h3 class="deal-title">Deal of the day</h3>
                <div class="title-divider"><span></span></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel massa eget ante tincidunt vestibulum. Aenean vel metus magna. Mauris nec. Nunc congue ac libero ut lacinia. In ultrices
                    elementum ipsum, in tempus enim accumsan..
                </p>
                <div class="hot-offer-text">Summer Sale <span>2017</span></div>
                <div class="box-timer">
                    <span class="des-hot-deal">Hurry up! Special offer</span>
                    <div class="time" data-countdown="countdown" data-date="09-30-2017-10-20-50"></div>
                    <a href="#" class="link">Shopping Now</a>
                </div>
            </div>
            <div class="col-md-5 hot-pr-img-area">
                <div id="daily-deal-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 ">
                        <div class="pr-img-area">
                            <a title="Product title here" href="single_product.html">
                                <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="HTML template"></figure>
                            </a>
                        </div>
                        <div class="pr-img-area">
                            <a title="Product title here" href="single_product.html">
                                <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="HTML template"> </figure>
                            </a>
                        </div>
                        <div class="pr-img-area">
                            <a title="Product title here" href="single_product.html">
                                <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="HTML template"> </figure>
                            </a>
                        </div>
                        <div class="pr-img-area">
                            <a title="Product title here" href="single_product.html">
                                <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="HTML template"> </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
