@model List<FunctionViewModel>
<div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="./"><img src="~/admin-side/images/logo.png" alt="Logo"></a>
    <a class="navbar-brand hidden" href="./"><img src="~/admin-side/images/logo2.png" alt="Logo"></a>
</div>

<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
        </li>
        <h3 class="menu-title">Chức năng quản trị</h3><!-- /.menu-title -->
        @if (Model.Any())
        {
            @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
            {
                @if (Model.Any(x => x.ParentId == item.Id))
                {
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>@item.Name</a>
                        <ul class="sub-menu children dropdown-menu">
                            @foreach (var itemchild in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><i class="fa fa-puzzle-piece"></i><a href="@itemchild.URL">@itemchild.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        }
        else
        {
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Chưa có chức năng</a>
            </li>
        }
    </ul>
</div>
